* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background-image: url(assets/hatter.jpg);
    background-repeat: repeat;
    height: 100vh;
    font-family: 'Cormorant Unicase', serif;
    color: white;
}


.container {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 40px; 
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    border-radius: 10px;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.fejlec, .tartalom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
.fejlec {
    bottom: 50%;
}
.tartalom {
    top: 50%;
}
img {
    border-radius: 45%;
    width: 150px;
    margin-bottom: 20px;
    background-color: gray;
    padding: 1px;
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
}
img:hover {
    transform: scale(1.1);
    filter: grayscale(50%);
}
.rolam {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    text-align: justify;
}
.fejlec, .linkek, h3 {
    text-align: center;
}
h1 {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
    padding: 10px;
}
a {
    color: white;
    font-size: 24px;
    padding: 5px;
}
a:hover {
    color: turquoise;
}
hr {
    width: 100%;
    margin-bottom: 30px;
}